*{
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

footer {
    color: rgb(155, 154, 154);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center;   
}

.logo_footer{
    width: 200px;
    height: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    background-image: url(../img/galaxy.jpeg) ;
    justify-content: space-between;  
}

.barranav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;    
}

.cuadrado {
    display: none;
}

.barranav a {
    
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    justify-content: space-around ;
}

.barranav a:hover {
    background-color: #fff;
    color: black;
}

.bottonsearch{
    height: 40px;
    width: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

.search{
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
}


.trailer {
    width: 100%;
    display: block;
    text-align: center;
}

.principal .boton {
    border: solid 3px white;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    margin-right: 20px;
    margin-top: 1%;
    margin-left: 1%;
}

.principal .boton:hover {
    background-color: #fff;
    color: black;
}

.titulo_ppl{
    margin-left: 10px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
}

.texto-encima_thecrown {
    color: #fff;
    font-size: 30px;
    margin-left: 1%;
}

.texto-encima_thecrown_descripcion {
    color: #fff;
    font-size: 20px;
    text-align:justify;
    margin: 1%; 
}

.peliculas_populares {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;   
}

.resultados_peliculas{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;  
    margin-bottom: 10%; 
}

.detalles_peliculas_genero{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;  
 
}

.detalles_series_genero{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;  
 
}

.series_populares {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;
}

.peliculas_toprated {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;
}

.pelicula {
  width: 450px;
  height: 340px;
  margin-left: 30px;

}

.imagenPP{
    width: 450px;
    height: 250px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 15px;
}

.imagenPP:hover {
    width: 500px;
    height: 300px;
}

.titulo {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;  
}

.estreno{
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.serie {
    width: 450px;
  height: 340px;
  margin-left: 30px;
}


.infantiles {
    width: 450px;
  height: 340px;
  margin-left: 30px;
}

.hipervinculo {
    text-decoration: none;
}

.generos a{
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-around 

}
.pelicula_descripcion{
    color: #fff;
    text-align:justify;
    margin: 1%;
}

.boton2{
    border: solid 3px white;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    
}
    
.boton2:hover {
    background-color: #fff;
    color: black;
}

.boton_recomendaciones{
    border: solid 3px white;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

.boton_recomendaciones:hover{
    background-color: #fff;
    color: black;
}

.logo_plat{
    width: 50px;
}

.infopelicula{
    color: aliceblue;
}

.descripcion{
    text-align: left;
}

.datos_pelicula{
    text-align:left;
    padding: 20px;
    margin: 20px;
}
 

.titulocomedia{
    color: aliceblue;
}


.texto-encima2 {
    color: #fff;
    font-size: 30px;
    margin-left: 1%;
}
    

.texto-encima2 .pelicula_descripcion {
    color: #fff;
    font-size: 20px;
    text-align:justify;
    margin: 1%;
}

.principal .boton2 {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px white;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    margin-right: 20px;
    margin-top: 30px;
}

.principal .boton2:hover {
    background-color: #fff;
    color: black;
}

.estrellas {
    color: rgb(233, 224, 49);
    font-size: 21px;
    margin: 1%;
}

.verde {
    color: rgb(16, 171, 16);
    margin: 1%;
}

.contenedor_detail {
    display: flex;
    flex-direction: row;
    
    
}

.item {
    margin-left: 1%;
    margin-right: 10px;
    font-size: 17px;
}

.lista_cast {
    display: flex;
    flex-direction: row;
}

.foto_pelicula {
    display:block;
    width: 600px;
    height: 500px;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 5%;
    
}



.lista_pelicula {
    margin-left: 15%;
    margin-top: 10%;
    list-style: none;
}

.lista_pelicula .titulo_lista {
    font-weight: bold;
    font-size: 20px;
    margin: 17px;
    list-style: none;
}

.lista_pelicula .subtitulo_lista {
    font-weight: normal;
    font-size: 16px;
}

.cajapadre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    background-color: rgba(200, 200, 200, 0.471);
}
.cajapadre2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    background-color: rgba(200, 200, 200, 0.471);
}



.cajahijo {  
    margin: 2%;
}

.cajahijo a {  
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border: solid 3px #fff;
}

.cajahijo a:hover {
    background-color: #fff;
    color: black;
}
.titulo_generos{
    color: #fff;
}

.h1_search {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 2%;
}



@media (max-width: 768px) {
    .barranav{
        display: none;
    }

    .cuadrado {
        display: block;
        color: #fff;
        font-size: 25px;
        margin-left: 200px;
    }

    .bottonsearch {
        display: none;
    }

    .busqueda{
        display: none;
    }

    .search {
        display: none;
    }

    .texto-encima .thecrown_descripcion {
        font-size: 20px;
        text-align:justify;
    }
   
    .cajahijo{
        margin: -1%; 
    }

    .footer{
        margin-top: 20%;
        text-align:center;   
    }

    
    .lista_pelicula {
        display: none;
    }

    .footer1{
        margin-top: 8%;
        text-align:center;  
    }

}

.pelicula_buscada {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll;   
}


.generos_series article:hover {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-snap-type: x ;
    overflow-x: scroll; 

}

.h1_search{
    color: #fff;
}

.boton2 {
    color: #fff;
}

.lista_favoritos  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: initial;
}

.nombre_favoritos{
        color:#fff;
        margin: 10px;
    }

.seccion-favoritos {
    color: #fff;
    
}

label{
    color: #fff;
    margin: 1px;
}
.recomendaciones{
    color: #fff;
}

.h2_genero{
    color: #fff;
}