/* ALL HTMLS */
body {
    box-sizing: border-box;
    background-color: black;
}


/* header*/

.barranav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;    
    font-family: "Montserrat", sans-serif;
}

.cuadrado {
    display: none;
}

.barranav a {
    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
   
}

.barranav a:hover {
    background-color: #fff;
    color: black;
}

.bottonsearch{
    height: 40px;
    width: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

.search{
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
}

.logo_plat{
    width: 210px;
}





/* footer */
.sectionfooter {
    height: 80px;
    background-color: rgb(36, 36, 36);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.articlefooter {
    margin-top: 150px;
}

.footer-list1 {
    /* lo separe en tres distintos para poder centrarlo */
    margin-top: 10px;
    margin-left: 500px;
    list-style-type: none;
    display: flex;
    display: inline-block;
}

.footer-list2 {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    display: inline-block;
}

.footer-list3 {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    display: inline-block;
}

.footer-text {
    color: grey;
    font-size: 15px;
    margin: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

/* HOME HTML */

/* bloques de peliculas */
.titulo {
    margin-left: 10px;
    margin-top: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
}
.titulo2 {
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
}

 .main-index {
        height: 600px;
    }

.verMas {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    border-radius: 5px;
    border-style:groove;
    border-color: white;
    padding: 2%;
}


.top_movies {
    display: flex;
    height: 400px;
    color: blue;
}

.recommended_series{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recommended_movies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.section_fav{
    display: inline-flex;
}



.portada {
    /* imagenes de las peliculas */
    width: 215px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

.portada:hover {
    /* para que se agrande la portada cuando pasas x ahi */
    width: 240px;
    height: 350px;
}

/* DETAIL SERIES Y MOVIES */
.portadadetail {
    width: 215px;
    height: 300px;
    margin-top: 20px;

}

.texto-portada {
    color: white;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.fecha-portada {
    color: grey;
    font-size: 15px;
    margin: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.titulospeliculas {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.titulospeliculas2 {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-left: 100px;
}



span {
    display: inline;
    color: white;
}

.bloquedetail {
    display: flex;
    justify-content: right;
    background-color: rgba(51, 50, 50, 0.54);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    padding: 4%;
    margin-top: 3cm;
    margin-left: 230px;
    color: white;
    height: 350px;
    width: 800px;
}

.bloque-portada {
    margin-right: 20px;
}

.botonfavoritos {
    color: black;
    border-radius: 5px;
    border-style: none;
}

.botonfavoritos:hover {
    color: white;
    background-color: red;
}

.flechainicio {
    text-decoration: none;
    color: white;
    font-size: 40px;
}


/* GENDERS */
.h1-genders {
    color: white;
   
}


.span-genders {
    border-radius: 10px;
    display: inline;
    padding: 50px;
    justify-content: center;
    background-color: rgba(51, 50, 50, 0.54);
    margin-left: 30px;
    block-size: 380px;
    height: max-content;
    width: 350px;
    text-align: center;
}

.section-genders {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    block-size: 340px;
    font-family: "Montserrat", sans-serif;
    
    justify-content: space-around;
    padding: 4%;
    margin-top: 70px;

}

.div-genders {
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    background-color: rgb(71, 71, 71);
}

.div-genders:hover {
    background-color: black;
}

.tipos_generos {
    text-decoration: none;
    color: white;
}

.cada_tipo_genero{
    text-decoration: none;
    color: white;
}

/* DETAIL GENRES */
/* es igual a Body INDEX pero los separamos porque nos resulta mas comodo */


.titulo_genero {
    margin-left: 10px;
    margin-top: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.listaGenero{
    display: flex;
    height: 400px;
    /* FALTA REGULAR EL WIDTH */
}

.cada_pelicula_dg {
    /* bloque de cada pelicula individualmente */
    width: 250px;
    height: 300px;
    margin-left: 30px;
}

.img_genre {
    /* imagenes de las peliculas */
    width: 215px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

.portada:hover {
    /* para que se agrande la portada cuando pasas x ahi */
    width: 240px;
    height: 350px;
}

/* cambio a celular */
@media (max-width: 400px) {

    /* HOME  en celular */
    .main-index {
        height: 6000px;
    }
    

    .recommended_series,
    .recommended_movies,
    .top_movies {
        height: 1950px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        text-align: center;
    }

    .bloque-portada {
        width: 100%;
        height: 400px;
        margin-left: 30px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portada {
        width: 200px;
        height: 300px;
        margin-top: 0;
        margin-left: 0;
    }

    .header {
        height: 400px;
    }

    .search {
        margin-top: 20px;
        margin-right: 98px;
        font-size: 20px;
        justify-content: left;
        margin-left: 15px;
    }

    .generos {
        margin: 0px;
        color: white;
        font-size: 20px;
    }

    .home {
        margin-left: 0px;
        margin-top: 0px;
        color: white;
        font-size: 20px;
    }

    .listaHeader {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 400px;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: "Oswald", sans-serif;
    }

    .favoritos {
        margin-left: 0px;
        margin-top: 0px;
        color: white;
        font-size: 20px;
    }

    /* DETAIL MOVIES Y SERIES en celular */
    .portadadetail {
        width: 215px;
        height: 300px;
        margin-top: 20px;
        
    }
    
    .texto-portada {
        color: white;
        font-size: 20px;
        margin: 5px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }
    
    .fecha-portada {
        color: grey;
        font-size: 15px;
        margin: 5px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }
    
    .titulospeliculas {
        text-decoration: none;
        color: white;
    }
    
    span {
        display: inline;
        color: white;
    }
    
    .bloquedetail {
        display: flex;
        justify-content: right;
        background-color: rgba(51, 50, 50, 0.54);
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        padding: 4%;
        margin-top: 3cm;
        margin-left: 230px;
        color: white;
        height: 350px;
        width: 800px;
    }
    
    .bloque-portada {
        margin-right: 20px;
    }
    
    .botonfavoritos {
        color: black;
        border-radius: 5px;
        border-style: none;
    }
    
    .botonfavoritos:hover {
        color: white;
        background-color: red;
    }
    
    .flechainicio {
        text-decoration: none;
        color: white;
        font-size: 40px;
    }
    
    /* GENRES en el celular */
    .section-genders {
        height: 1000px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .span-genders1,
    .span-genders2 {
        width: 350px;
    }
}

/* Estilos para el loader */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none; /* Ocultar inicialmente */
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  